@import "@fontsource/press-start-2p";

:root {
  background-image: url("/bg.png");
  background-repeat: repeat;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:antiquewhite;

}

html, body {
  height: 100%;
  padding: 0;
  /* margin: 50px; */
  font-family: "Press Start 2P", cursive;
}


.pixel-shadow {
  color: #ffc63f;
  text-shadow:
    0 1px #940218,
    0 2px #940218,
    0 3px #6c0212,
    0 4px #3b000a;
}

.blink-delay {
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@tailwind base;
@tailwind components;
@tailwind utilities;